section.container.container--lines.section
  h2.section-title.title.reviews-title Узнайте, что мы можем предложить — это ничего не стоит
  .cta 
    form.cta-form.form(action="")
       label.form__label
        input.form__input(type="text")