section.container.container--lines.section
  h2.section-title.title.features-title Рассказываем, чем мы#[br] лучше конкурентов
  .features 
    .features__item 
      .features__icon 
        img.features__src(src="/src/assets/images/features.svg" width="64" height="64" alt="")
      h4.features__title.title Консультация
      .features__desc Встроимся в вашу команду, спроектируем интерфейсы, нарисуем дизайн, проведем исследования.
    .features__item 
      .features__icon 
        img.features__src(src="/src/assets/images/features.svg" width="64" height="64" alt="")
      h4.features__title.title Консультация
      .features__desc Встроимся в вашу команду, спроектируем интерфейсы, нарисуем дизайн, проведем исследования.
    .features__item 
      .features__icon 
        img.features__src(src="/src/assets/images/features.svg" width="64" height="64" alt="")
      h4.features__title.title Обязательства
      .features__desc Держим баланс между немецкими стандартами и русской смекалкой — без творческих кризисов накануне дедлайна
    .features__item 
      .features__icon 
        img.features__src(src="/src/assets/images/features.svg" width="64" height="64" alt="")
      h4.features__title.title Консультация
      .features__desc Умеем решать задачи любой сложности, работаем по всему миру и говорим на трёх языках: русском, английском, немецком
    .features__item 
      .features__icon 
        img.features__src(src="/src/assets/images/features.svg" width="64" height="64" alt="")
      h4.features__title.title Консультация
      .features__desc Встроимся в вашу команду, спроектируем интерфейсы, нарисуем дизайн, проведем исследования.
    .features__item 
      .features__icon 
        img.features__src(src="/src/assets/images/features.svg" width="64" height="64" alt="")
      h4.features__title.title Консультация
      .features__desc Встроимся в вашу команду, спроектируем интерфейсы, нарисуем дизайн, проведем исследования.
