header.header
  .header-wrapper.container.container--lines
    .header__logo.logo 
      a.logo__link(href="/") 
        img.logo__src(src="/src/assets/images/logo.svg" alt="")
    nav.header__nav.nav 
      ul.nav-list
        li.nav__item.nav__item--have-sub
          a.nav__link(href="") Создание сайтов
        li.nav__item 
          a.nav__link(href="") Дизайн-поддержка
        li.nav__item 
          a.nav__link(href="") Продвижение
        li.nav__item 
          a.nav__link(href="") Кейсы
        li.nav__item 
          a.nav__link(href="") О нас
        li.nav__item 
          a.nav__link(href="") Контакты
    .header__feedback 
      a.header__phone.header__link(href="tel:799999999") +7 911 989-24-42
      .header__feedback-btn.js-open-modal(role="button") Обсудить проект 


